body {
    padding-top: 50px;
}
.template {
    padding: 40px 15px;
    text-align: center;
}

.start_buttons {
    font-size: larger;
}

.tic-tac-toe-game {
    padding: 40px 15px;
    margin-top: 30px;
    font-size: x-large;
}

.tic-tac-toe-box {
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
}

.border-right {
    border-right-style: solid;
    border-right-width: 2px;
}


.border-left {
    border-left-style: solid;
    border-left-width: 2px;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}


.border-top {
    border-top-style: solid;
    border-top-width: 2px;
}

.hidden {
    display: none;
}

.result-msg {
    margin-top: 40px;
}

.text-dim {
    opacity: 0.3;
}